/* Grid layout */
body {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px 3em auto;
    grid-template-areas: 
        "head   head"
        "search crumbs"
        "nav    main";
}
header {
    grid-area: head;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main
}
#search-bar {
    grid-area: search;
}
#breadcrumbs {
    grid-area: crumbs;
}

/* Page styling */
html {
    width:100%;
    height:100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #EEE;

    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    background-color: #222;
}
a {
    color: #3794FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header {
    background-color: #222;
}
#search-bar, #breadcrumbs {
    background-color: #444;
    color: #111;
    padding:0.7em;
}
#breadcrumbs a {
    color: #000;
}
nav {
    background-color: #181818;
    padding:10px;
    z-index: 2;
}
main {
    padding:2em;
}

h1:after
{
    content:' ';
    display:block;
    padding-top: 0.3em;
    border-bottom:1px solid #555;
}
table {
    border-collapse: collapse;
}
td {
    padding: 0.75em;
}
thead tr th {
    border-bottom:1px solid #999;
}
tbody tr td {
    border-bottom:1px solid #555;
}

/* Search styling */
#search {
    width:100%;
    border: 1px solid #FFF;
    border-radius: 4px;
    transition:.25s;
    padding:4px;
    margin: -2px -2px 0 0;
}
#search:focus {
    border: 1px solid #444;
}

/* Tree customization styles */
.tree-view {
    line-height: 160%;
}
.tree-branch {
    font-weight: bold;
}
.tree-leaf {
    font-weight: normal;
}

/* Tree view styling*/
.tree-view ul {
    margin-left: 0; 
    padding-left: 0;
}
.tree-view li {
    margin-left: 1em; 
    padding-left: 0;
    list-style: none;
}
.tree-view input {
    opacity:0;
    margin-left: -1em; 
    cursor: pointer;
}
.tree-view input ~ span:before {
    content:"\25BD";
    left:-1em;
    margin-right:-1em;
    position: relative;
    z-index: -2;
    cursor: pointer;
}
.tree-view input:checked ~ span:before {
    content:"\25B7";
}
.tree-view input:checked ~ ul {
    display:none;
}

/* Code styling */

.highlight pre { padding:1.5em; margin: 1em; font-size: 1.2em;}
.highlight .hll { background-color: #586e75 }
.highlight  { background: #333; color: #fdf6e3 }
.highlight .c { color: #657b83 } /* Comment */
.highlight .err { color: #dc322f } /* Error */
.highlight .k { color: #6c71c4 } /* Keyword */
.highlight .l { color: #cb4b16 } /* Literal */
.highlight .n { color: #fdf6e3 } /* Name */
.highlight .o { color: #2aa198 } /* Operator */
.highlight .p { color: #fdf6e3 } /* Punctuation */
.highlight .cm { color: #657b83 } /* Comment.Multiline */
.highlight .cp { color: #657b83 } /* Comment.Preproc */
.highlight .c1 { color: #657b83 } /* Comment.Single */
.highlight .cs { color: #657b83 } /* Comment.Special */
.highlight .gd { color: #dc322f } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #fdf6e3; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .gp { color: #657b83; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #2aa198; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #6c71c4 } /* Keyword.Constant */
.highlight .kd { color: #6c71c4 } /* Keyword.Declaration */
.highlight .kn { color: #2aa198 } /* Keyword.Namespace */
.highlight .kp { color: #6c71c4 } /* Keyword.Pseudo */
.highlight .kr { color: #6c71c4 } /* Keyword.Reserved */
.highlight .kt { color: #b58900 } /* Keyword.Type */
.highlight .ld { color: #859900 } /* Literal.Date */
.highlight .m { color: #cb4b16 } /* Literal.Number */
.highlight .s { color: #859900 } /* Literal.String */
.highlight .na { color: #268bd2 } /* Name.Attribute */
.highlight .nb { color: #fdf6e3 } /* Name.Builtin */
.highlight .nc { color: #b58900 } /* Name.Class */
.highlight .no { color: #dc322f } /* Name.Constant */
.highlight .nd { color: #2aa198 } /* Name.Decorator */
.highlight .ni { color: #fdf6e3 } /* Name.Entity */
.highlight .ne { color: #dc322f } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #fdf6e3 } /* Name.Label */
.highlight .nn { color: #b58900 } /* Name.Namespace */
.highlight .nx { color: #268bd2 } /* Name.Other */
.highlight .py { color: #fdf6e3 } /* Name.Property */
.highlight .nt { color: #2aa198 } /* Name.Tag */
.highlight .nv { color: #dc322f } /* Name.Variable */
.highlight .ow { color: #2aa198 } /* Operator.Word */
.highlight .w { color: #fdf6e3 } /* Text.Whitespace */
.highlight .mf { color: #cb4b16 } /* Literal.Number.Float */
.highlight .mh { color: #cb4b16 } /* Literal.Number.Hex */
.highlight .mi { color: #cb4b16 } /* Literal.Number.Integer */
.highlight .mo { color: #cb4b16 } /* Literal.Number.Oct */
.highlight .sb { color: #859900 } /* Literal.String.Backtick */
.highlight .sc { color: #fdf6e3 } /* Literal.String.Char */
.highlight .sd { color: #657b83 } /* Literal.String.Doc */
.highlight .s2 { color: #859900 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #859900 } /* Literal.String.Heredoc */
.highlight .si { color: #cb4b16 } /* Literal.String.Interpol */
.highlight .sx { color: #859900 } /* Literal.String.Other */
.highlight .sr { color: #859900 } /* Literal.String.Regex */
.highlight .s1 { color: #859900 } /* Literal.String.Single */
.highlight .ss { color: #859900 } /* Literal.String.Symbol */
.highlight .bp { color: #fdf6e3 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #dc322f } /* Name.Variable.Class */
.highlight .vg { color: #dc322f } /* Name.Variable.Global */
.highlight .vi { color: #dc322f } /* Name.Variable.Instance */
.highlight .il { color: #cb4b16 } /* Literal.Number.Integer.Long */
